<template name="categories">
    {{#each toggleSelect}}
    <li class="item item-toggle">
        {{name}}
        <label class="toggle toggle-{{color}}">
            <input type="checkbox" id = "{{name}}">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    {{/each}}

    {{#each rangeSelect}}
    <div class="item range range-{{color}}">
        <i class="icon {{name}}-outline"></i>
        <input type="range" name="volume" min="0" max="3" value="1" id="{{name}}">
        <i class="icon {{name}}"></i>
    </div>
    {{/each}}
</template>