<template name="generating">
    <div id="generating-animation">
        <div class="right">
            <h2 class="randoms"></h2>
            <h4 class="randoms"></h4>
            <h3 class="randoms"></h3>
            <h1 class="randoms"></h1>
            <h4 class="randoms"></h4>
        </div>
        <div class="left">
            <h4 class="randoms"></h4>
            <h1 class="randoms"></h1>
            <h2 class="randoms"></h2>
            <h4 class="randoms"></h4>
            <h3 class="randoms"></h3>
        </div>
    </div>
</template>