<template name="restaurant">

    {{#ionView  class="restaurant"}}
    <div class="list card">

        <div class="item item-avatar">
            <img src="http://www.petzoned.com/assets/default_avatar-468e8f42276a2fd234b034f28536570b.png">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </div>

        <div class="item item-image">
            {{ > map }}
        </div>

        <div class="resNames" style="position:relative">
            {{getNames}}
        </div>
        <button id="radius" style="position:relative">500</button>

        <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Start listening
        </a>
    </div>

    {{/ionView}}

</template>
