
<template name="restaurant">
    {{#ionView class="restaurant-view" }}
    <div class="restaurant-result">
    <div class="list card">
        <div class="item ">
            <h2 class="header branding">Go Here</h2>
        </div>
        <div class="item item-body">
            <div id="gmap" class="full-image">
                {{> map }}
            </div>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>
    </div>
        <div>
            <button id="generate" class="button button-clear" >Wherever</button>
        </div>
        </div>
    {{/ionView}}
</template>

