<template name="restaurant">

    {{#ionView  class="restaurant"}}
    <div class="list card">

        <div class="item item-avatar">
            <img src="http://www.petzoned.com/assets/default_avatar-468e8f42276a2fd234b034f28536570b.png">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </div>

        <!--<div  id="gmap">-->
            <!--{{ > map }}-->
        <!--</div>-->


        <!--<button id="radius">500</button>-->

    <div id="map">
        <div id="gmap" style="height: 150px; width: 20%"> {{> map }} </div>

        <div class="resNames" >
            {{getNames}}
        </div>
        <button id="radius" style="position:relative">500</button>
        <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Start listening
        </a>
    </div>
    </div>

    {{/ionView}}

</template>
