$positive: #DE4F4F;
$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}

.branding {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 18pt !important;
}

.front-page {
  background-image: url('/restaurant-blur.jpg');
  background-size: cover;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    * {
      color: white;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 26pt;
    }

    span {
      padding-bottom: 20px;
    }

    button {
      border: 1px solid white;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}